<%- include('partials/header') %>
    <%- include('partials/nav') %>

        <body>
            <style>
                .card {
                    width: 300px;
                    margin: 10px;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                }
            </style>
            <h5 class="text-center">GeoJSON Entries</h5>

            <% entries.forEach(entry=> { %>
                <div class="card">
                    <h6>
                        Name: <%= entry.name %>
                    </h6><a class="btn btn-md btn-primary" href='/geo-entry/<%= entry._id %>'>View geojson
                        layer</a>
                </div>
                <% }); %>
                    <%- include('partials/footer') %>